@model List<BTL_NMCNPM.Models.tblThongTinTuyenDung>
@{
    ViewBag.Title = "AdminQlyViecLam";
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

@if (Context.Session.GetString("user") != null)
{
    <section>
        <h1>Quản lý việc làm</h1>
        <form class="d-flex flex-row align-items-center flex-wrap" asp-action="AdminQlyViecLam" asp-controller="Vieclam" method="get">
            <label for="search" class="mx-2 my-1">Tìm kiếm</label>
            <input type="search" class="form-control w-auto" id="search" name="search" placeholder="Nhập thông tin..." value="@ViewBag.search"/>
            <button type="submit" class="btn btn-primary mx-2">Tìm kiếm</button>
        </form>

        <a asp-action="CreateViecLam" asp-controller="Vieclam" class="btn btn-success" style="color: white; text-decoration: none; margin-top: 20px; margin-bottom:20px; margin-left: 10px;">
            Tạo tin tuyển dụng mới
        </a>

        <table class="table table-striped table-hover">
            <tr>
                <th>Vị trí</th>
                <th>Đối tượng</th>
                <th>Ngày yêu cầu</th>
                <th>Ngày hết hạn</th>
                <th>Mô tả</th>
                <th>Mức lương</th>
                <th>Đãi ngộ</th>
                <th>Nơi làm việc</th>
                <th>Hành động</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.sVitri</td>
                    <td>@item.sDoituong</td>
                    <td>@(item.dNgayyeucau?.ToString("yyyy-MM-dd") ?? "Chưa có")</td>
                    <td>@(item.dNgayhethan?.ToString("yyyy-MM-dd") ?? "Chưa có")</td>
                    <td>@item.sMotaTD</td>
                    <td>@item.iMucluong</td>
                    <td>@item.sDaingo</td>
                    <td>@item.sNoilamviec</td>
                    <td>
                        <a asp-action="EditViecLam" asp-controller="Vieclam" asp-route-id="@item.sMaTD" class="btn btn-primary">Sửa</a>
                        <a asp-action="DeleteViecLam" asp-controller="Vieclam" asp-route-id="@item.sMaTD" class="btn btn-danger">Xóa</a>
                        <a asp-action="DanhSachUngTuyen" asp-controller="Vieclam" asp-route-sMaTD="@item.sMaTD" class="btn btn-info">Danh sách ứng viên</a>
                    </td>
                </tr>
            }
        </table>
    </section>
}
else
{
    <p>Bạn không được truy cập vào trang hiện tại</p>
}
